@model IEnumerable<LibreriaDemo.Models.Entidades.Venta>
@{
    ViewData["Title"] = "Lista";
}

@section Estilos{
    <link href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css" rel=" stylesheet" />

    <style>
        .btn-exportar-excel {
            background-color: #198754 !important;
            color: white !important;
        }

        .btn-exportar-pdf {
            background-color: #dc3545 !important;
            color: white !important;
        }

        .btn-exportar-print {
            background-color: #00a7c9 !important;
            color: white !important;
        }
    </style>
}



<div class="col-md-12">
    <div class="card">
        <div class=" card-header text-center">
            <h5>Libros Vendidos</h5>
        </div>
        <div class=" card-body">
            <table id="autor" class="table table-hover table responsive table stripped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Titulo</th>                      
                        <th scope="col">Precio</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Total</th>
                        <th scope="col">Imagen</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@item.Id</th>
                            <td> @item.Fecha.ToString("dd-MM-yyyy") </td>
                            <td> @Html.DisplayFor(modelItem => item.Libro.Titulo)</td>                            
                            <td> @Html.DisplayFor(modelItem => item.Libro.Precio)</td>
                            <td> @Html.DisplayFor(modelItem => item.Cantidad)</td>
                            <td> @Html.DisplayFor(modelItem => item.Total)</td>
                            <td>
                                <img src="@item.Libro.URLImagen" width="100" height="100">
                            </td>
                            <td>                                                            
                            </td>
                        </tr>
                    }                                                          
                </tbody>              
            </table> 
            <div class=" card-footer">
                <p><strong>Suma Total: @ViewBag.SumaTotal.ToString("C2")</strong></p>
                <p><strong>Suma Diaria: @ViewBag.SumaDiaria.ToString("C2")</strong></p>
            </div>           
        </div>
    </div>
</div>

<partial name="_MostrarModal" />
<partial name="_ModalEliminar" />

@section Scripts{

    <script src="~/js/showmodal.js"></script>

    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>


    <script>
        $(document).ready(function () {
            $('#autor').DataTable(
                {
                    "language": {
                        url: "https://cdn.datatables.net/plug-ins/1.11.5/i18n/es-ES.json"
                    },
                    dom: "Bfrtip",
                    buttons: [
                        //excel
                        {
                            extend: 'excelHtml5',
                            text: '<i class="fas fa-file-excel"></i>',
                            filename: 'Reporte Libros',
                            title: 'Lista de LIbros',
                            exportOptions: {
                                columns: [1, 2, 3, 4]
                            },
                            className: 'btn-exportar-excel',

                        },
                        //pdf
                        {
                            extend: 'pdfHtml5',
                            text: '<i class="fas fa-file-pdf"></i>',
                            filename: 'Reporte Libros',
                            title: 'Lista de Libros',
                            exportOptions: {
                                columns: [1, 2, 3, 4]
                            },
                            className: 'btn-exportar-pdf',
                        },
                        //print
                        {
                            extend: 'print',
                            text: '<i class="fas fa-print"></i>',
                            title: 'Lista de Libros',
                            exportOptions: {
                                columns: [1, 2, 3, 4]
                            },
                            className: 'btn-exportar-print'

                        },
                        //numero de paginas
                        'pageLength'
                    ]
                });
        });
    </script>

    <script>
        sc_deleteDialog.openModal('deleteItem', true, 'btnYesDelete', '/Libros/Eliminar/', false);
    </script>
}


